<launch>

 <param name="latitude_init" value="45.621668"/>
 <param name="longitude_init" value="9.281553"/>
 <param name="altitude_init" value="224.573796"/>

 <node pkg="project1" type="ecef_to_enu" name="car_ecef_to_enu" output="screen">
  <remap from="ecef_topic" to="swiftnav/front/gps_pose"/>
  <remap from="enu_topic" to="car/odometry"/>
  <remap from="enu_topic_debug" to="car/odometry/debug"/>
  <param name="child_frame_id" value="car"/>
 </node>
 
 <node pkg="project1" type="ecef_to_enu" name="obs_ecef_to_enu" output="screen">
  <remap from="ecef_topic" to="swiftnav/obs/gps_pose"/>
  <remap from="enu_topic" to="obs/odometry"/>
  <remap from="enu_topic_debug" to="obs/odometry/debug"/>
  <param name="child_frame_id" value="obs"/>
 </node>

 <node pkg="project1" type="distance_computer" name="distance_computer" output="screen"/>

 <node pkg="project1" type="synch_node" name="synch_node" output="screen"/>

</launch>
